@charset "UTF-8";

fieldset{
	text-align: center;
	margin: 100px auto;
	width: 400px;
	height: 550px;
	border: solid 3px gray;
	border-radius: 15px;
	box-shadow: 10px 10px 10px black;
}
legend{
	text-align: center;
	font-weight: bold;
	font-size: 30px;
}
#idCheck_btn{
	width: 60px;
	height: 30px;
	cursor: pointer;
	background: none;
	border-radius: 10px;
	border: solid 3px gray;
	margin-left: 5px;
}

#idCheck_btn:hover{
	border: 3px solid black;
}

#studentCheck_btn{
	width: 60px;
	height: 30px;
	cursor: pointer;
	background: none;
	border-radius: 10px;
	border: solid 3px gray;
	margin-left: 5px;
}
#studentCheck_btn:hover{
	border: 3px solid black;
}

#name{
	margin-left: 65px;
}
#id{
	margin-left: 65px;
}
input[type="text"],input[type="password"]{
	-webkit-box-shadow: 0 0 0 1000px white inset;
	font-size: 15px;
	margin-top: 30px;
	width: 170px;
	border: none;
	outline: none;
	border-bottom: solid 3px gray;
	text-align: center;
}
input[type="text"]:focus
,input[type="password"]:focus{
	border-bottom: 3px solid black;
}
input[type="text"]:hover
,input[type="password"]:hover{
	border-bottom: 3px solid black;
}


#signUp_btn, #reset_btn{
	margin-top: 30px;
	width: 85px;
	height: 30px;
	background: none;
	cursor: pointer;
	border: solid 3px gray;
	border-radius: 10px;
}
#signUp_btn:hover, #reset_btn:hover{
	border: 3px solid black;
}

#studentCheckResult{
	margin-top: 5px;
}

#checkIdResult{
	margin-top: 5px;
}